project = "infra-199304"
public_key_path = "~/.ssh/appuser.pub"
disk_image = "reddit-full-1561831014"
privat_key_path = "~/.ssh/appuser"
app1_public_key_path = "~/.ssh/appuser.pub"
web_publickey = "~/.ssh/appuser.pub"
name = "lb"
service_port = "80"
network = "default"
target_tags = "lili"
