project = "infra-199304"
public_key_path = "/home/appuser/.ssh/id_appuser.pub"
disk_image = "reddit-full-1561831014"
privat_key_path = "/home/appuser/.ssh/id_appuser"
app1_public_key_path = "/home/appuser/.ssh/id_appuser1.pub"
web_publickey = "/home/appuser/.ssh/id_appuser_web.pub"
name = "lb"
service_port = "80"
network = "default"
target_tags = "lili"
